* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}
#skateboard{
    padding: 50px 20px;
}

body {
    background: #1F1D2B;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.header input {
    width: 625px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    caret: #FFFFFF;
    border: 2px solid red;
}

.imgOne {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgOne ion-icon:hover{
    transform: scale(1.5);
    color: red;
    cursor: pointer;
}

.imgOne img {
    border-radius: 50%;
}
.imgOne details{
    width: 100px;
    border: 1px solid blue;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
}
.imgOne summary{
    color: white;
}
.imgOne p{
    color: deeppink;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: .2s;
    cursor: pointer;
}
.header h1:hover{
    transform: scale(1.5);
}

.hero {
    display: flex;
}

.heroMenu {
    width: 20%;
    margin-right: 20px;
}
/*.menu-three button:hover{*/
/*    transform: scale(1.2);*/
/*    background: white;*/

/*}*/

.heroMenu span {
    color: #808191;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1.5px;
}

.imgOne select {
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.imgOne ion-icon {
    width: 30px;
    height: 30px;
    color: white;
}

.menu-one button {
    transition: .2s;
}



.menu-two {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.menu-two button {
    width: 30px;
    height: 30px;
    background: sienna;
    border-radius: 12px;
    color: white;
    margin-right: 10px;
}

.menu-two h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.menu-three {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.menu-three:hover{
    transform: scale(1.2);
    color: white;
    background: white;
    border-radius: 20px;
}

.menu-three h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    color: #808191;
    transition: .5s;
    cursor: pointer;
}
/*.menu-three h2:hover{*/
/*    !*background: white;*!*/
/*    transform: scale(1.6);*/
/*    color: red;*/
/*}*/

.menu-three button {
    width: 32px;
    height: 32px;
    background: #808191;;
    border-radius: 12px;
    margin-right: 10px;
}

.menu-three ion-icon {
    width: 15px;
    height: 15px;
}

.lin {
    width: 120px;
    height: 0;
    color: #FFFFFF;
    border: 1px solid #34373C;
    margin: 30px 0;
}

.linTwo {
    width: 120px;
    height: 0;
    color: #FFFFFF;
    border: 1px solid #34373C;
}

.switch{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: blue;
    border-radius: 50%;
}


.switch__input{
    height: 0;
    width: 0;
    opacity: 0;
}

.switch__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: blue;
    border-radius: 30px;
}
.switch__slider::before{
    content: "";
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}



.switch__input:checked +.switch__slider{
    background-color: #FFFFFF;
}


.switch__input:checked +.switch__slider::before{
    transform: translateX(20px);
    background-color: #FFFFFF;
}




/*--------------DISCOVERY---IMG-------------*/


.disImgOne {
    display: flex;
    position: absolute;
}


.disImgOne img {
    position: relative;
}

.disImgOne h1 {
    position: absolute;
    top: 30px;
    left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.skImg {
    position: absolute;
    top: 200px;
    left: 40px;
    display: flex;
    align-items: center;

}
.skImg img{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    padding: 5px;
}

.ti {
    margin-left: 15px;
}
.ti ion-icon{
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    color: green;
    left:50px;
    bottom: 10px;
}

.skImg h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.skImg p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}


.skTwo {
    width: 360px;
    height: 370px;
    display: flex;
}

.skTwo img {
    position: relative;
    border-radius: 15px;
    margin-left: 25px;
}

.sk-title {
    position: absolute;
    top: 180px;
    right: 160px;
}
.sk-title img{
    border-radius: 50%;
    padding: 5px;
    border: 2px solid white;
}
.sk-title ion-icon{
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    color: green;
    left:60px;
    bottom: 10px;
}

.skTwo h5 {
    position: absolute;
    right: 100px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.sk-title h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.sk-title p {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin: 10px 0;
}


/*----------------MOST------------------*/





.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}












.most {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 60px;
}

.mostImg {
    display: flex;
    justify-content: space-around;
    padding-top: 400px;
}

.block {
    display: flex;
    margin: 0 5px;
}

.mo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.boxOne {
    width: 260px;
    height: 300px;
    background: #242730;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.boxOne img {
    width: 260px;
    height: 160px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;

}
.one img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 190px;
    top: 130px;
    border: 1px solid white;
    padding: 2px;
}
.tim{
    position: absolute;
    right: 5px;
    bottom: 135px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: white;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tim ion-icon{
    width: 10px;
    height: 10px;
}
.two ion-icon{
    width: 10px;
    height: 10px;
 }



.boxOne a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #808191;
}

.boxOne h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 15px 0;
}

.boxOne p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #808191;
}


/*--------------boxtwo-----------------*/


.boxTwo {
    width: 260px;
    height: 300px;
    background: #242730;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;

}

.boxTwo img {
    width: 260px;
    height: 160px;
    margin-bottom: 10px;
}
.two img{
    position: absolute;
    right: 0;
    bottom: 110px;
    width: 50px;
    height: 50px;

}
.two ion-icon{
    position: absolute;
    right: -5px;
    bottom: 135px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    background: blue;

}

.boxTwo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #808191;
}

.boxTwo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 15px 0;
}

.boxTwo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #808191;
}


/*-----------------boxthree-------------------*/


.boxThree {
    width: 260px;
    height: 300px;
    background: #242730;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /*margin: 0 15px;*/
margin: 0 20px;
}

.boxThree img {
    width: 260px;
    height: 160px;
    margin-bottom: 10px;
}
.three img{
    position: absolute;
    right: 0;
    bottom: 110px;
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}
.three ion-icon{
    position: absolute;
    bottom: 135px;
    right: -5px;
    color: white;
    border-radius: 50%;
    background: blue;
    width: 15px;
    height: 15px;
}

.boxThree a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #808191;
}

.boxThree h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 15px 0;
}

.boxThree p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #808191;
}


/*-----------------boxFor---------------------*/


.boxFor {
    width: 260px;
    height: 300px;
    background: #242730;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;

}

.boxFor img {
    width: 260px;
    height: 160px;
    margin-bottom: 10px;
}
.for img{
    position: absolute;
    right: 0;
    bottom: 110px;
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}
.for ion-icon{
    position: absolute;
    bottom: 135px;
    right: -5px;
    color: white;
    border-radius: 50%;
    background: blue;
    width: 15px;
    height: 15px;
}

.boxFor a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #808191;
}

.boxFor h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 15px 0;
}

.boxFor p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #808191;
}

.bg {
    background: url("../img/skat.png")no-repeat center/contain;
    width: 555px;
    height: 366px;
    transition: .3s;
}

.bg:hover {
    background: url("../img/img_1.png")no-repeat center/contain;
    width: 555px;
    height: 366px;
    border-radius: 20px;
}

.img {
    padding-top: 90px;
    margin-left: 100px;
}